<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <p class="mt-5" style="text-align: center;" *ngIf="paymentList?.length===0">No paid orders are available</p>
    <div class="row card card-description" *ngFor="let paidOrder of paymentList">
        <div class="row">
            <div class="col-md-4 image_class" style="height: 300px;">
                <img [src]="'http://localhost:8080/'+paidOrder.instrumentId.images[1]" style="height: 100%;width: 100%;">
                <!-- <img [src]="'http://labnet.lk:8080/'+paidOrder.instrumentId.images[1]" style="height: 100%;width: 100%;"> -->
            </div>
            <div class="col-md-8 m-0">
                <div class="card-body item-description d-flex flex-column" style="height:100%">
                    <h4 class="card-title">{{paidOrder.instrumentId.instrumentName}}</h4>
                    <p class="card-text"><strong>Description: </strong>{{paidOrder.instrumentId.description}}</p>
                    <p class="card-text mt-2"><strong>Paid by: </strong>{{paidOrder.payedBy.email}}</p>
                    <p class="card-text mt-2"><strong>Paid date: </strong>{{paidOrder.paymentDate | date}}</p>
                    <p class="card-text mt-2"><strong>Price: </strong>{{paidOrder.paymentPrice | currency:'LKR'}}</p>
                    <div class="form-group mt-auto">
                    <button [disabled]="paidOrder.state===1" mat-raised-button color="warn" style="float: right;margin: auto;width: 40%;margin-bottom: 10px;margin-top: auto;" (click)="onChangePaymentStatus(paidOrder.orderId,paidOrder.instrumentId._id)">FINISH THE RESERVATION</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
<div class="col-md-1"></div>
</div>

