<main>
  <!-- <mat-card> -->
    <!-- <mat-card-header> -->
    <div class="header-div">
      <span class="mat-headline" style="text-align: center;margin-top: 40px;">Sign up to discover more</span>
    </div>
    <!-- </mat-card-header> -->
    <mat-card-content>
      <form>
        <mat-form-field class="example-full-width">
          <mat-label>Email address</mat-label>
          <input matInput placeholder="Enter full name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Re-enter the above password">
        </mat-form-field>

        <div>
          <button type="button" class="btn btn-pill btn-info btn-signup">Sign in</button>
        </div>
      </form>
    </mat-card-content>
  <!-- </mat-card> -->

</main>
