<!-- <mat-toolbar color="primary">
  <span>SLRNT</span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a>About us</a>
    </li>
    <li>
      <a>Services</a>
    </li>
    <li>
      <a>Contact us</a>
    </li>
  </ul>
</mat-toolbar> -->
<!-- <mat-toolbar>
  <mat-toolbar-row>
    <span>
      <a routerLink="/" class="mat-title">SLRNT</a>
    </span>
    <span class="spacer"></span>
    <span>
      <a routerLink="/" class="mat-body-2">ABOUT US</a>
    </span>
    <span>
      <a routerLink="/" class="mat-body-2">SERVICES</a>
    </span>
    <span>
      <a routerLink="/" class="mat-body-2">CONTACT US</a>
    </span>
    <span>
      <a routerLink="/" class="mat-body-2" mat-stroked-button>SIGN UP</a>
    </span>
    <span>
      <a routerLink="/" class="mat-body-2">SIGN IN</a>
    </span>
  </mat-toolbar-row>
  </mat-toolbar>

  <app-home-land></app-home-land> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">SLRNT</a>
    <span class="spacer"></span>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <!-- <a routerLink="/" class="mat-body-2">HOME <span class="sr-only">(current)</span></a> -->
        <a routerLink="/" class="mat-body-2">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="mat-body-2">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="mat-body-2">SERVICES</a>
      </li>
      <li class="nav-item">
        <a routerLink="/" class="mat-body-2">CONTACT US</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a routerLink="/signup" class="mat-body-2">SIGN UP</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a href="/signin" class="mat-body-2">SIGN IN</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a src="/" (click)="onLogout()" class="mat-body-2">LOG OUT</a>
      </li>
    </ul>
  </div>
</nav>

