.spacer{
  margin: auto;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: darkcyan ;
}
span{
  margin: 1rem;
}
li{
  margin:1rem;
}
.modal-signup{
  margin-top: 60px;
}
