<div class="container">
  <div class="row">
      <div class="col-md-5 cardLeft">
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                  <div class="card">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-3"></div>
                              <div class="col-md-6">
                                <div class="row">
                                  <div *ngIf="imageStatus" style="width:200px;height:200px;margin: auto;">
                                    <img src="assets/Images/user-defualt.png" class="rounded-circle" alt="default"
                                      style="width: 100%;height:100%;">
                                    </div>
                                    <div *ngIf="!imageStatus" style="width:150px;height:150px;margin: auto;">
                                      <img [src]="imageUrl" class="rounded-circle" alt="Profile image"
                                        style="width: 100%;height:100%;">
                                      </div>


                                  <!-- <div>
                                  <img *ngIf="imageStatus" src="assets/Images/user-defualt.png" class="rounded-circle" alt="Cinque Terre"
                                    style="width: 100%;height:100%;">
                                  </div>
                                  <div>
                                    <img [src]="imageUrl" *ngIf="!imageStatus" class="rounded-circle" alt="Cinque Terre"
                                      style="width: 100%;height:100%;">
                                    </div> -->


                                    <!-- <img src="assets/Images/user-defualt.png" class="rounded-circle" alt="Cinque Terre"
                                    style="width: 100%;height:100%;"> -->
                                </div>
                                <!-- <div class="row" style="margin-top: 20px;"> -->
                                  <!-- <form [formGroup]="form">
                                                    <button type="button" mat-stroked-button (click)="filePicker.click()">Pick Image</button>
                                                    <input accept=".png,.jpg" type="file" #filePicker (change)="onImagePicked($event)">
                                                </form> -->

                                  <!-- Button trigger modal -->
<!--
                                  <button type="button" class="btn btn-primary center" style="width: auto;overflow: hidden;" data-toggle="modal" data-target="#exampleModalLongImgUploadInstitute">
                                    Change profile picture
                                  </button> -->
                                <!-- </div> -->

                              </div>
                              <div class="col-md-3"></div>

                          </div>
                      </div>
                      <div class="row">
                              <p class="username"><strong>institute Name</strong></p>
                              <p class="institute-data">{{instituteName}}</p>
                              <hr style="width: 80%;">
                              <p class="username"><strong>Institute Email</strong></p>
                              <p class="institute-data">{{instituteEmail}}</p>
                              <hr style="width: 80%;">
                              <p class="username"><strong>Joined since</strong></p>
                              <p class="institute-data">{{jointedAt}}</p>
                              <hr style="width: 80%;">
                              <p class="username"><strong>Ratings</strong></p>
                          </div>
                  </div>
              </div>
              <div class="col-md-1"></div>
          </div>
      </div>
      <div class="col-md-7 rightContainer">
          <div class="container ">
              <div class="row">
                  <div class="col-md-12">
                      <p><strong>address</strong></p>
                      <p>{{no}}</p>
                      <p>{{street}}</p>
                      <p>{{city}}</p>
                      <p>{{province}}</p>
                      <p></p>
                      <hr style="width: 100%;">
                      <p><strong>Telephone no</strong></p>
                      <p>{{telephoneNo}}</p>
                      <hr style="width: 100%;">
                      <p><strong>Total number of Instruments in the institute</strong></p>
                      <p>{{instrumentCount}}</p>
                      <hr style="width: 100%;">
                      <p><strong>instruments categories</strong></p>
                      <hr style="width: 100%;">
                  </div>
              </div>

          </div>
      </div>
  </div>

  </div>

