mat-card{
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

span a{
  text-decoration: none;
  color: white;
}
::ng-deep .mat-select-arrow {
  border-left: 15px solid transparent !important;
  border-right: none !important;
  border-top: 15px solid transparent !important;
  border-image-source: url('src/assets/Images/dots.png') !important;
  border-image-repeat: stretch !important;
}


*:focus {
  outline: none !important;
  border: 0 !important;
}
.section-nav{
  margin-top: 50px;
}

.spacer{
  margin:auto;
  /* width: 100%; */
}
