.card-specification{
  height: auto;
}
.card-specification{
  width:100%;
}
.textareaDescription{
  height: 150px;
}
.input_header{
font-size: 18px;
font-weight: lighter;
margin-top: 20px;
margin-bottom: 20px;
}

mat-form-field{
  width: 100%;
  margin: auto;
}
*:focus{
  outline: none;
}
.fileSelect{
  visibility: hidden;
}
.imagePreview1{
  width: 150px;
  height: 150px;
}
.imagePreview2{
  width: 150px;
  height: 150px;
}
.imagePreview3{
  width: 150px;
  height: 150px;
}
.imagePreview4{
  width: 150px;
  height: 150px;
}
.imagePreview5{
  width: 150px;
  height: 150px;
}
