<div class="row">
  <div class="col-md-4">
    <mat-card>
      <mat-card-content>

        <mat-toolbar color="primary">
          <span mat-button>
            <a routerLink="/researcher" class="mat-body-2" (click)="onResearcherProfile()">MY PROFILE</a>
          </span>
        </mat-toolbar>
        <mat-toolbar color="primary">
          <span>
            <a routerLink="/researcher" class="mat-body-2" (click)="onResearcherPurchase()">PURCHASE AN INSTRUMENT</a>
          </span>
        </mat-toolbar>

      </mat-card-content>
    </mat-card>

  </div>
  <div class="col-md-8">
    <app-user-profile *ngIf="ResearcherProfile"></app-user-profile>
  </div>
  </div>
