<h2 mat-dialog-title>Change the State of the instrument</h2>
<mat-dialog-content class="mat-typography">

  <p>Custodian able to change the state of the instrument by three options</p>
  <ul>
    <li>Hold the instrument</li>
    <li>Reset the state</li>
  </ul>

  <p>To continue deletion confirm your deletion</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>DISCARD CHANGE STATE</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onHoldInstrument()">HOLD INSTRUMENT</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onAvailableInstrument()">CHAGE STATE TO AVAILABLE</button>
</mat-dialog-actions>
