<div class="container">
  <div class="row">
    <div class="col-md-5 cardLeft">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
            </mat-card-header>
            <div style="align-items: center;width: 100%;display: flex;justify-content: center;">
              <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
              class="rounded-circle" alt="Photo of a Shiba Inu" />
            </div>
            <mat-card-content>
              <div class="row my-5">
                <p class="username"><strong>User Name</strong></p>
                <hr style="width: 80%;">
                <p class="username"><strong>roles</strong></p>
                <hr style="width: 80%;">
                <p class="username"><strong>Joined since</strong></p>
            </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <div class="col-md-7 rightContainer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>what should include</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
